.buytickets {
    color: green;
}

.buytickets:hover {
    color: rgb(18, 184, 18);
}

.ppalmenu {
    background-color: #4b4d4f;
    height: 90px;


}

.lettermenu {
    color: #898e92;
    font-family: 'Poppins', sans-serif;
}

.lettermenu:hover {
    color: white;
}

.navbrand {
    width: 150px;


}

.navwebname {
    color: white;
    padding-left: 90px;
    font-size: 30px;

}

.navweb {
    font-size: 20px;
    font-family: sans-serif;
    margin-right: 200px;
    font-weight: 500;
}

.carousel-caption {
    text-align: right;
    left: 53%;
    top: 30%;
}

.cardescription {
    font-size: 18px;
    font-weight: 600;
}

.d-block {
    filter: brightness(0.5);
    height: 800px;
    object-fit: cover;
}

.etiq {

    margin-left: 20%;
}
.buyticketbtn{
    font-weight: bold;
    background-color: #27a844;
}

.oradorbtn {
    font-weight: bold;
}

.col {
    width: 25%;
}

.know {

    text-align: center;
    margin-bottom: 10px;
}

.oradorcharla {
    font-size: 125%;
    color: #525353;
}

.subrayado {
    text-decoration: underline dotted;
}

.card {

    z-index: 1;
}

.badge {
    font-size: small;
}

.bg-warning {
    color: black;
}

.bg-info {
    color: white;
}

.etiquetas {
    margin-top: 25px;
    padding-left: 16px;
}

.card-body {
    padding-top: 5px;
}

.display-6 {
    font-weight: 600;
}



.honolulu-img {

    object-fit: cover;
    height: 800px;
    width: 1425px;

}

.honolulu {
    display: flex;
    height: 5%;
    margin-top: 2%;

}


.honoluluimg {
    width: 50%;
}


.honoluludescription {
    position: relative;
    background-color: rgb(66, 65, 65);
    width: 50%;

}

.honoluludesc {
    margin-top: 3%;
    margin-left: 3%;
}

.honoluluimg {


    object-fit: cover;
}

.honoluludesctwo{
    font-size: 120%;
}

.honolulufinalimg {
    width: 100%;

    object-fit: cover;
    object-position: center center;
}

.form {
    align-items: center;
    justify-content: center;
}

.formsize {
    position: relative;
    width: 50%;
    display: flex;

 margin-left: 25%;

}

.comments {
    margin-top: 1%;
    padding: 0;
}

.descrip {
    height: 120px;
    margin: 6px;
    padding-bottom: 80px;
}
.initialism {
    margin: 3px;
}

.recordatorio{
    width:43.7%;
    text-align: right;
    padding: 0;
    color: #525353;
}


.descrip::placeholder{
    font-size: 150%;
}

.formulario {
    padding: 6px;
}

.sendbutton {
    margin-top: 1%;
    margin-left: 25%;
    width: 100%;
}

.sendbt{
    width: 50%;
    background-color: #96c93e;
    color: white;
    font-weight: 600;
    font-size: 200%;
}

.footermenu {
    padding: 20px;
    font-size: 160%;
    color: white;
    text-align: center;
    
}

.footer {
    background-color: #1d3c4e;
}

.footernav {
    color: white;
    margin: 10px;
    width: 210px;


}

.footeritem {
margin-top: 10%;
   
}
